
label {
    display:block;
    margin-top:20px;
    letter-spacing:2px;
    color: black;
}

form {
    margin:0 auto;
}

/* Style the text boxes */
input, textarea {
	background:#efefef;
	border:1px solid #dedede;
	padding:10px;
	margin-top:3px;
	font-size:0.9em;
	color:#3a3a3a;
}

textarea {
   height:auto;
   width:auto;
}

#send {
    border:none;
    margin-top:20px;
    cursor:pointer;
}

#send:hover {
   opacity:.9;
   background-color: green;
}

.contactL .contactR {
   -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;   
    box-sizing: border-box;   
}

@media (min-width: 1200px) {
  }

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {

}  


/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px){

}


/********** Extra small devices only **********/
@media (max-width: 767px) {
input, textarea {
	background:#efefef;
	border:1px solid #dedede;
	padding:10px;
	margin-top:3px;
	font-size:0.9em;
	color:#3a3a3a;
}

	#send {
    border:none;
    margin-top:20px;
    cursor:pointer;
}

}

/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {
 
  }






